<div class="container">
	<header class="jumbotron" style="margin-left: 10%; margin-right: 10%; margin-top: 5%; text-align: center;">
		<img [src]="'assets/photo.jpg'" style="width:100%; height:250px;object-fit: cover; padding-bottom: 10px;">
		<h1 class="display-4">
			<strong>
				Welcome to photo gallery!
			</strong>
		</h1>
    	<p class="lead" style="color:rgb(61, 61, 61)">
			<strong>
				Share your photos with other users! Like and comment other photos
			</strong>
		</p>
	</header>
  </div>