<div *ngIf="currentUser; else unlogged">
  <div class="px-3 py-2 border-bottom mb-3">
  <div class="container d-flex flex-wrap justify-content-center">
    <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
  </div>
</div>
<div class="container row" style="max-width: max-content;">
  <div class="col-md-12">
      <div>
          <app-photo></app-photo>
      </div>
  </div>
</div>
</div>
<ng-template #unlogged>
  <app-unlogged>
  </app-unlogged>
</ng-template>
